version: '3.3'

services:
        db:
                image: mysql:5.7
                volumes:
                        - data_db:/var/lib/mysql2
                restart: always
                environment:
                        MYSQL_ROOT_PASSWORD: wordpress
                        MYSQL_DATABASE: wordpress
                        MYSQL_USER: wordpress
                        MYSQL_PASSWORD: wordpress

        wordpress:
                image: wordpress:latest
                depends_on:
                        - db
                ports:
                        - 8080:80
                restart: always
                environment:
                        WORDPRESS_DB_HOST: db:3306
                        WORDPRESS_DB_USER: wordpress
                        WORDPRESS_DB_PASSWORD: wordpress
                volumes:
                        - ./plugins/:/var/www/html/wp-content/plugins
                        - ./themes/:/var/www/html/wp-content/themes
                        - ./uploads/:/var/www/wp-content/uploads
                          
volumes:
        data_db: